
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoard</title>
    <h2 Welcome></h2Wel>
</head>
<body>
</body>
</html>
