
@model OnlineGroceryStore.Controllers.AddressController
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<div class="jumbotron">
    <div class="container text-left">
        <h1>Welcome</h1>
        <h2>Online Grocery Store</h2>
        <p>Mission, Vission & Values</p>
        <div>
            <img src="~/Image/gc.jpg" alt="..." class="navbar-right" />
        </div>
    </div>
</div>

<!--<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
@*<a class="navbar-brand" href="#">Logo</a>*@
<!--</div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" asp-controller="Auth" asp-action="AdminLogin">
                <li><a asp-controller="Auth" asp-action="AdminLogin"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>-->


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK MONDAY DEAL</div>
                <div class="panel-body"><img src="~/Image/monday1.png" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">BLACK Tuesday DEAL</div>
                <div class="panel-body"><img src="~/Image/Tuesday.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">BLACK WEDNESDAY DEAL</div>
                <div class="panel-body"><img src="~/Image/Wednesday.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK THRUSDAY DEAL</div>
                <div class="panel-body"><img src="~/Image/Thrusday.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="~/Image/Friday.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK SATAURDAY DEAL</div>
                <div class="panel-body"><img src="~/Image/Sataurday.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"> </div>
            </div>
        </div>
    </div>
    @*</div><br><br>*@

    <!--<footer class="container-fluid text-center">
        <p>Online Store Copyright</p>-->
    @*<form class="form-inline">
            Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>*@
    <!--</footer>-->



