
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YourAccount</title>
</head>
<body>
    @*<input asp-controller="Auth" asp-action="AdminLogin" />*@
    <div class="container">
        <h2>Basic List Group</h2>
        <ul class="list-group">
            <li class="AdminLogin">Login</li>
            <li class="AdminRegister">New Register</li>
            <!--<li class="AdminLogout">-->@*Logout*@<!--</li>-->
        </ul>
    </div>
</body>
</html>
